.calender-navigation {
  background-color: #f9f8f7;
  padding: 1%;
  font-size: 24px;
}

.calendar-component {
  position: fixed;
  z-index: 2;
  top: 125px;
  left: 425px;
}

.weeks {
  border: 1px solid grey;
  height: 100px;
  width: -webkit-fill-available;
  margin-top: auto;
  background-color: #E2E2F6;
}

.weekDate{
    font-size: 24px;
}

.TimeColumn{
    margin-top: 5%;
    background-color: #F3F2F1;
}

.time-block{
    border-right: 0.5px solid #797979;
    border-left: 0.5px solid #797979;
    padding: 1px;
    text-align: center;
}