.react-calendar__navigation__label{
    background-color: white;
    outline: none;
    border: 3px solid #e6e6e6;
    border-radius: 12px;
    text-align: start;
}

.react-calendar__navigation__label__labelText{
    font-size: 26px;
    font-weight: bold;
    margin-left: 60px;
}

.react-calendar__navigation__arrow{
    border: none;
    border-radius: 5px;
    margin: 2px;
}

.react-calendar__month-view__weekdays{
    text-align: center;
    font-size: 26px;
    color: #b4b4b4;
}

.react-calendar__month-view__days{
    font-size: 40px;
}

.react-calendar__tile{
    border: 1px solid white;
    color: #5e5e5e;
}